In [1]:
import numpy as np
import pandas as pd

In [2]:
#read it with Pandas
data = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv')

In [14]:
data.head(5)

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

<div class="alert alert-block alert-success">
<b>Question 3:</b> 
What's the average price of BMW cars in the dataset?
</div>

In [76]:
BMW = data[data.Make == 'BMW'].MSRP
BMW_average_Price = BMW.mean()
BMW_average_Price

61546.76347305389

<div class="alert alert-block alert-success">
<b>Question 4:</b>
Select a subset of cars after year 2015 (inclusive, i.e. 2015 and after). How many of them have missing values for Engine HP?
</div>

In [77]:
af_2015 = data[data.Year >= 2015]
miss_EngineHP = af_2015['Engine HP'].isnull().sum()
miss_EngineHP

51

<div class="alert alert-block alert-success">
<b> Question 5:</b>
    <li> Calculate the average "Engine HP" in the dataset.

- Use the fillna method and to fill the missing values in "Engine HP" with the mean value from the previous step.
- Now, calcualte the average of "Engine HP" again.
- Has it changed?
</div>

In [80]:
#cal mean
EngineHP_mean = data['Engine HP'].mean()

#fill missed
data['Engine HP'].fillna(EngineHP_average_Price).mean()

#calc mean after filled
EngineHP_mean_after = data['Engine HP'].mean()

print(round(EngineHP_mean), round(EngineHP_mean_after))

249 249

<div class="alert alert-block alert-success">
<b> Question 6:</b>
    <li> Select all the "Rolls-Royce" cars from the dataset.
    <li> Select only columns "Engine HP", "Engine Cylinders", "highway MPG".
    <li>  Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 7 rows).
    <li>  Get the underlying NumPy array. Let's call it X.
    <li>  Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
Invert XTX.
    <li>  What's the sum of all the elements of the result?
</div>

In [63]:
Rolls = data[data.Make == 'Rolls-Royce']
Rolls_specific = Rolls[["Engine HP", "Engine Cylinders", "highway MPG"]].drop_duplicates()

       Engine HP  Engine Cylinders  highway MPG
2921       325.0               8.0           15
3505       563.0              12.0           19
5275       563.0              12.0           21
5279       563.0              12.0           20
7443       322.0              12.0           15
7553       453.0              12.0           19
11448      624.0              12.0           21

In [84]:
x = Rolls_specific.to_numpy()
transpX = x.transpose()
XTX = transpX.dot(x)

XTX_invert = np.linalg.inv(XTX)
sumall = XTX_invert.sum()
sumall

0.032212320677486125